#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Leech Config
########################################
#
#    Leech.Enable
#        Description: Enable the module
#        Default:     0 - Disabled
#                     1 - Enabled
#

Leech.Enable = 1
#
#    Leech.DungeonsOnly
#        Description: Enable leeching only in content that would normally be group content (ie, dungeons and raids)
#        Default:     1 - Enabled
#                     0 - Disabled
#

Leech.DungeonsOnly = 1
#
#    Leech.Amount
#        Description: Amount of damage dealt that will be applied as a heal on the player. 0 is none, 0.5 is 50%, 1 is 100%, 2 is 200%, etc.
#        Default:     0.05 - 5%
#

Leech.Amount = 0.05
